*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;
}

.title {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.task {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  font: 1em Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: justify;
}

pre.task {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  font: 16px monospace;
  color: #5c5c5c;
}

.task:first-of-type {
  border-top: 1px solid silver;
}

.task:last-of-type {
  border-bottom: 1px solid silver;
}

.list {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.link {
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  font: 1em Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #669;
  border: 1px solid #99c;
  border-radius: 5px;
  transition: all 0.25s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

a:hover {
  color: #fff;
  background: #99c;
}

.link__back {
  padding: 5px 10px;
}

.back {
  text-align: center;
}

.result {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  color: #0707c7;
  overflow-x: auto;
  padding: 10px;
}

.result pre {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

.mocha--center {
  display: flex;
  justify-content: center;
}

/*=== task 1 ===*/
